<h1>Using User-Based Collabortive Filtering to Predict a User's Next Foursquare Check-In to a New Location</h1>
<h2>MS&E 234</h2>

<h3>Setup</h3>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Note: The Check-In dataset below was already processed from the 'Global-scale Check-in Dataset with User Social Networks', in order to 1) only consider data points of users who we know the gender of, 2) identify the category of venues using another dataset.

In [92]:
# Check-In Data
check_ins = pd.read_csv('gender-checkins-complete.csv', delimiter='\t', index_col=0)

In [143]:
# check user with id 541
check_ins[(check_ins.User_ID == 54) & (check_ins.Venue_ID == '4de0117c45dd3eae8764d6ac')]

,User_ID,Venue_ID,UTC_Time,Timezone_Offset,Lat,Long,Category,Country_Code
28025,54,4de0117c45dd3eae8764d6ac,Fri Apr 13 22:48:37 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
38400,54,4de0117c45dd3eae8764d6ac,Mon Apr 16 18:25:45 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
88863,54,4de0117c45dd3eae8764d6ac,Thu May 03 19:07:58 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
105646,54,4de0117c45dd3eae8764d6ac,Tue May 08 16:12:45 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
151204,54,4de0117c45dd3eae8764d6ac,Tue May 22 15:32:18 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
186459,54,4de0117c45dd3eae8764d6ac,Thu Jun 07 03:37:30 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
284996,54,4de0117c45dd3eae8764d6ac,Thu Aug 09 17:33:19 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
312667,54,4de0117c45dd3eae8764d6ac,Fri Sep 14 20:59:39 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
324125,54,4de0117c45dd3eae8764d6ac,Tue Oct 16 15:43:10 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
348655,54,4de0117c45dd3eae8764d6ac,Thu Nov 01 18:01:51 +0000 2012,-420,37.781213,-122.402973,Tech Startup,US
369675,54,4de0117c45dd3eae8764d6ac,Mon Nov 19 17:36:08 +0000 2012,-480,37.781213,-122.402973,Tech Startup,US
405857,54,4de0117c45dd3eae8764d6ac,Mon Dec 10 21:31:16 +0000 2012,-480,37.781213,-122.402973,Tech Startup,US
437640,54,4de0117c45dd3eae8764d6ac,Thu Jan 03 20:55:28 +0000 2013,-480,37.781213,-122.402973,Tech Startup,US
470624,54,4de0117c45dd3eae8764d6ac,Wed Jan 30 19:07:09 +0000 2013,-480,37.781213,-122.402973,Tech Startup,US
556124,54,4de0117c45dd3eae8764d6ac,Tue Apr 09 18:04:21 +0000 2013,-420,37.781213,-122.402973,Tech Startup,US
591231,54,4de0117c45dd3eae8764d6ac,Tue May 07 18:59:49 +0000 2013,-420,37.781213,-122.402973,Tech Startup,US
702282,54,4de0117c45dd3eae8764d6ac,Tue Nov 19 17:09:12 +0000 2013,-480,37.781213,-122.402973,Tech Startup,US
703701,54,4de0117c45dd3eae8764d6ac,Mon Nov 25 20:37:30 +0000 2013,-480,37.781213,-122.402973,Tech Startup,US
710367,54,4de0117c45dd3eae8764d6ac,Fri Dec 13 23:08:13 +0000 2013,-480,37.781213,-122.402973,Tech Startup,US

In [3]:
check_ins.head()

,User_ID,Venue_ID,UTC_Time,Timezone_Offset,Lat,Long,Category,Country_Code
0,21939,4dd53b151f6ec4e0bb8c0480,Tue Apr 03 18:00:49 +0000 2012,-240,39.285600,-76.612047,Clothing Store,US
1,163646,4b70040ff964a52080032de3,Tue Apr 03 18:01:31 +0000 2012,-240,25.716845,-80.281378,College Cafeteria,US
2,256534,4b29929cf964a5200fa124e3,Tue Apr 03 18:01:37 +0000 2012,-360,40.726135,-111.852087,American Restaurant,US
3,176836,4b66f88ff964a520eb322be3,Tue Apr 03 18:01:40 +0000 2012,-300,29.661129,-95.115077,Community College,US
4,181560,4bc7086715a7ef3bef9878da,Tue Apr 03 18:02:41 +0000 2012,-240,40.745164,-73.982519,Medical Center,US

### Preprocessing

The following functions reduce the data to users who have made 80+ check-ins in the past.

In [4]:
threshold = 80 # Any user that has less than (threshold) check-ins will be removed.

value_counts = check_ins['User_ID'].value_counts() # Specific column 
to_remove = value_counts[value_counts <= threshold].index
check_ins = check_ins[~check_ins['User_ID'].isin(to_remove)]

In [5]:
# threshold = 2000 # Any user that has more than (threshold) check-ins will be removed.

# value_counts = check_ins[0].value_counts() # Specific column 
# to_remove = value_counts[value_counts >= threshold].index
# check_ins = check_ins[~check_ins[0].isin(to_remove)]

In [6]:
"There are %d check-ins, made by %d users, in %d locations." %(len(check_ins), check_ins['User_ID'].nunique(), check_ins['Venue_ID'].nunique())

'There are 465613 check-ins, made by 2290 users, in 184838 locations.'

In [7]:
#split into train/test
split = 0.8

X_train = (check_ins.groupby('User_ID',group_keys=False)
        .apply(lambda x: x.nlargest(int(len(x) * split), 'User_ID')))

In [8]:
X_test = check_ins[~check_ins.isin(X_train)].dropna()

In [9]:
del check_ins

In [10]:
X_train_counts = X_train.groupby(['User_ID','Venue_ID']).size().reset_index(name="Frequency")

In [11]:
Total_Visits = X_train.groupby(['User_ID']).size().reset_index(name="Total_Visits")
X_train_counts = pd.merge(X_train_counts, Total_Visits, on = 'User_ID', how='left', sort = 'False')
del X_train

In [12]:
"The users have %d check-ins on average in the training set." %(np.mean(Total_Visits['Total_Visits']))

'The users have 162 check-ins on average in the training set.'

In [13]:
X_train_counts['Adj_Freq'] = X_train_counts['Frequency'] / X_train_counts['Total_Visits'] * 1.0

In [14]:
X_train_counts.head()

   User_ID                  Venue_ID  Frequency  Total_Visits  Adj_Freq
0       54  3fd66200f964a5204ded1ee3          1           108  0.009259
1       54  3fd66200f964a5209fe61ee3          1           108  0.009259
2       54  40919700f964a520e1f21ee3          1           108  0.009259
3       54  409ad180f964a520eef21ee3          2           108  0.018519
4       54  41059b00f964a520850b1fe3          1           108  0.009259

In [15]:
X_train_counts = X_train_counts.pivot(index='User_ID', columns='Venue_ID', values='Adj_Freq')

In [16]:
#X_train_counts = X_train_counts.fillna(0)

In [17]:
X_train_counts.head()

Venue_ID,3fd66200f964a52000e71ee3,3fd66200f964a52000ee1ee3,3fd66200f964a52000f11ee3,3fd66200f964a52001e81ee3,3fd66200f964a52002f01ee3,3fd66200f964a52003e71ee3,3fd66200f964a52003e81ee3,3fd66200f964a52004e61ee3,3fd66200f964a52005e71ee3,3fd66200f964a52005eb1ee3,...,523dd9e7498e092f9a033bb5,52458a1411d2b5993ac0425b,524842f711d2289df8ba9723,524a968f11d2921536d1e87d,524dd87611d2233c88389112,5255b0cb498e1ef25a04735c,5261c77611d2d6de373293f2,526f51e7498e26445f274a5e,528218eb498e0679e73b2490,529d18fb11d26ddfd0f8152d
User_ID,,,,,,,,,,,,,,,,,,,,,
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.005263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.014706,NaN,NaN,NaN,NaN,NaN,NaN
541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
sim_scores = cosine_similarity(X_train_counts)

In [ ]:
#use nearest 3 neighbors
sim_scores.shape

In [ ]:
sim_scores

FOR EACH USER (X):

1- Use the cosine similarity matrix above to get top 5 most similar users to (X)

2- Refer to top 5 users similar to the user (X) as: u1, u2, u3, u4, u5

3- For every location L1, L2, L3.., calculate the probabilty of user X visiting location L as = (L*sim(u1) + L*sim(u2) ... + L*sim(u5))/ (sim(u1)+sim(u2)...+sim(u5))

4- Sort probabilities from high to low, use top 1 as prediction

In [ ]:
# def matrix_factorization(R, P, Q, K, steps=5000, alpha=0.0002, beta=0.02):
#     Q = Q.T
#     for step in range(steps):
#         for i in range(len(R)):
#             for j in range(len(R[i])):
#                 if R[i][j] > 0:
#                     eij = R[i][j] - numpy.dot(P[i,:],Q[:,j])
#                     for k in range(K):
#                         P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
#                         Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])
#         eR = numpy.dot(P,Q)
#         e = 0
#         for i in range(len(R)):
#             for j in range(len(R[i])):
#                 if R[i][j] > 0:
#                     e = e + pow(R[i][j] - numpy.dot(P[i,:],Q[:,j]), 2)
#                     for k in range(K):
#                         e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
#         if e < 0.001:
#             break
#     return P, Q.T

In [ ]:
# R = X_train_counts.values

# R = numpy.array(R)

# N = len(R)
# M = len(R[0])
# K = 2

# P = numpy.random.rand(N,K)
# Q = numpy.random.rand(M,K)

# nP, nQ = matrix_factorization(R, P, Q, K)
# nR = numpy.dot(nP, nQ.T)

In [18]:
df_nans_spcoo = X_train_counts.to_sparse()

In [19]:
df_nans_spcoo = df_nans_spcoo.to_coo()

In [22]:
class MaxNormMF():
    def __init__(self, coo_mat):
        self.M, self.N = coo_mat.shape
        self.NNZ = coo_mat.nnz
        self.ratings = coo_mat.data
        self.rows = coo_mat.row
        self.cols = coo_mat.col

    def calc_train_loss(self):
        n = self.NNZ
        e = 0.0
        for ind in range(n):
            i, j = self.rows[ind], self.cols[ind]
            r = self.ratings[ind]
            e += math.pow(np.dot(self.L[i, :], self.R[j, :].T) - r, 2)
        return math.pow(e / n, 0.5)

    def train(self, k=10, b=2, epochs=50, gamma=0.1, gamma_red_factor=0.9,
              show_progress=True, show_train_error=True):
        self.start_time = time.perf_counter()

        self.k = k
        self.b = b
        self.L = np.random.randn(len(self.rows), self.k) * 0.001
        self.R = np.random.randn(len(self.cols), self.k) * 0.001

        b_sqrt = math.sqrt(self.b)
        def project(v):
            v_norm = np.linalg.norm(v)
            if np.square(v_norm) >= self.b:
                return (b_sqrt * v) / v_norm
            else:
                return v

        perm_indices = np.arange(self.NNZ)

        for epoch in range(epochs):
            if show_progress:
                if epoch % 5 == 0:
                    print('epoch: ', epoch)
                    print(' secs: ', time.perf_counter() - self.start_time)
            if show_train_error:
                if (epoch != 0) and (epoch % 5 == 0):
                    e = self.calc_train_loss()
                    print(' -> ', e)

            np.random.shuffle(perm_indices)

            for ind in perm_indices:
                i, j = self.rows[ind], self.cols[ind]
                r = self.ratings[ind]

                pred = np.dot(self.L[i, :], self.R[j, :].T)

                # update rule
                grad = pred - r
                L_pre = self.L[i, :] - gamma * grad * self.R[j, :]
                R_pre = self.R[j, :] - gamma * grad * self.L[i, :]

                # projection
                self.L[i, :] = project(L_pre)
                self.R[j, :] = project(R_pre)

            # decr learning-rate
            gamma *= gamma_red_factor

        print(self.L)
        print(self.R)

    def predict(self, u, i):
        return np.dot(self.L[u, :], self.R[i, :].T)

In [23]:
maxnorm = MaxNormMF(df_nans_spcoo)
maxnorm.train(k=11, b=1.35, epochs=350, gamma=0.5, gamma_red_factor=0.99)

epoch:  0
 secs:  0.20742157300003328
epoch:  5
 secs:  32.38062220900008
 ->  0.02865723403475664
epoch:  10
 secs:  69.29154716100004
 ->  0.028642038006389148
epoch:  15
 secs:  103.907159138
 ->  0.028462699210801797
epoch:  20
 secs:  137.57626221600003
 ->  0.027696076475011294
epoch:  25
 secs:  170.25569236700005
 ->  0.026372661951767653
epoch:  30
 secs:  203.22392342299997
 ->  0.02453263353834855
epoch:  35
 secs:  236.113140198
 ->  0.022342297891839304
epoch:  40
 secs:  269.25997461200006
 ->  0.020137570082691257
epoch:  45
 secs:  302.30911705000005
 ->  0.01816509658611381
epoch:  50
 secs:  336.4913802120001
 ->  0.016423721309759373
epoch:  55
 secs:  369.4809643520001
 ->  0.014875316393494072
epoch:  60
 secs:  403.75953645200013
 ->  0.013492686862604032
epoch:  65
 secs:  437.4204370420001
 ->  0.012264493563576022
epoch:  70
 secs:  471.8402848930001
 ->  0.01117725015701221
epoch:  75
 secs:  504.67416659
 ->  0.01021229082216411
epoch:  80
 secs:  537.579813785
 ->  0.009351171605233457
epoch:  85
 secs:  571.834077219
 ->  0.008579214370885402
epoch:  90
 secs:  605.400773214
 ->  0.007885826840575483
epoch:  95
 secs:  638.087290327
 ->  0.007263174466974165
epoch:  100
 secs:  672.1478800180001
 ->  0.006704916950733507
epoch:  105
 secs:  707.1728823700001
 ->  0.006205339362796066
epoch:  110
 secs:  745.7187564270001
 ->  0.005758935380068362
epoch:  115
 secs:  780.548651277
 ->  0.005360415387123497
epoch:  120
 secs:  813.7948413400001
 ->  0.005004714059068841
epoch:  125
 secs:  848.4319526780001
 ->  0.004687219844412314
epoch:  130
 secs:  885.5484612260001
 ->  0.00440369874566952
epoch:  135
 secs:  924.6337161810001
 ->  0.004150347408772795
epoch:  140
 secs:  961.913183941
 ->  0.003923766226916951
epoch:  145
 secs:  995.5637309530001
 ->  0.0037209134803334026
epoch:  150
 secs:  1032.3828324659999
 ->  0.0035391011752965084
epoch:  155
 secs:  1066.4093448600001
 ->  0.0033759686481118793
epoch:  160
 secs:  1100.86372971
 ->  0.003229349006971472
epoch:  165
 secs:  1133.906534098
 ->  0.003097418746680722
epoch:  170
 secs:  1167.936396432
 ->  0.0029785216599556284
epoch:  175
 secs:  1200.713776468
 ->  0.002871194304318681
epoch:  180
 secs:  1234.918948471
 ->  0.0027741513505212785
epoch:  185
 secs:  1267.687426213
 ->  0.0026862598161178962
epoch:  190
 secs:  1300.4171457849998
 ->  0.00260652626869866
epoch:  195
 secs:  1333.4770702800001
 ->  0.0025340573375280642
epoch:  200
 secs:  1366.2019639239998
 ->  0.0024680788687783317
epoch:  205
 secs:  1400.5832194579998
 ->  0.0024079063007881813
epoch:  210
 secs:  1433.171338744
 ->  0.0023529298630954013
epoch:  215
 secs:  1465.909727965
 ->  0.0023026171674064887
epoch:  220
 secs:  1498.7267396299999
 ->  0.0022564872215934378
epoch:  225
 secs:  1531.4928741959998
 ->  0.0022141268965354334
epoch:  230
 secs:  1564.3640338750001
 ->  0.0021751640441737994
epoch:  235
 secs:  1599.5308144589999
 ->  0.0021392696448571456
epoch:  240
 secs:  1632.6834571099998
 ->  0.0021061508639146523
epoch:  245
 secs:  1665.5525381080001
 ->  0.002075548342573867
epoch:  250
 secs:  1698.432380925
 ->  0.0020472302546933733
epoch:  255
 secs:  1731.2119590749999
 ->  0.0020209915812084488
epoch:  260
 secs:  1763.789858098
 ->  0.0019966471443893866
epoch:  265
 secs:  1804.0962360499998
 ->  0.0019740318606901006
epoch:  270
 secs:  1837.0080853079999
 ->  0.0019529988688578664
epoch:  275
 secs:  1871.945081765
 ->  0.0019334153226461639
epoch:  280
 secs:  1908.020589803
 ->  0.0019151608702493038
epoch:  285
 secs:  1940.694439322
 ->  0.0018981284360867737
epoch:  290
 secs:  1973.5362331669999
 ->  0.0018822211107527716
epoch:  295
 secs:  2006.469773503
 ->  0.0018673495263743856
epoch:  300
 secs:  2039.2175796440001
 ->  0.0018534350480998263
epoch:  305
 secs:  2072.919427033
 ->  0.0018404051187849006
epoch:  310
 secs:  2106.554490777
 ->  0.00182819386674734
epoch:  315
 secs:  2139.678594742
 ->  0.0018167412043149144
epoch:  320
 secs:  2173.428827692
 ->  0.0018059923763829328
epoch:  325
 secs:  2205.916665048
 ->  0.0017958971550711279
epoch:  330
 secs:  2238.556630506
 ->  0.0017864099354805332
epoch:  335
 secs:  2271.233585824
 ->  0.0017774887090672626
epoch:  340
 secs:  2303.797738073
 ->  0.0017690948100749424
epoch:  345
 secs:  2337.2520720479997
 ->  0.0017611929132207407
[[-7.56329857e-02  2.69084928e-02  1.59278343e-01 ...  7.44653516e-02
   1.30568478e-01  3.10708646e-02]
 [-6.62771289e-02 -7.08316005e-02 -8.56655339e-02 ...  4.69993154e-02
  -1.15651731e-01  1.41662446e-01]
 [ 4.53389967e-02  6.66161839e-03 -3.23748695e-02 ...  1.42241828e-01
  -4.53649712e-01 -1.60008019e-01]
 ...
 [-2.37321556e-04  1.40425023e-03  2.05082191e-04 ...  1.39119182e-04
   1.60031269e-03 -9.33299453e-04]
 [ 1.97383621e-03 -5.71265215e-04  1.44796585e-03 ... -6.05798801e-05
   1.00784110e-03  3.84118030e-04]
 [ 1.91791916e-03 -7.73544657e-04  4.15524914e-04 ... -7.49251785e-04
  -5.78207951e-04 -9.82524874e-04]]
[[-1.58935340e-02 -1.51492323e-02 -8.41193463e-03 ...  3.44129414e-03
   2.10962855e-02  6.31676287e-03]
 [ 2.68337798e-03 -3.78474897e-03  7.78902240e-03 ...  9.67704866e-03
   5.01292544e-03 -2.69081617e-03]
 [ 1.12724289e-02 -2.50674873e-02 -6.58381045e-03 ... -8.71261371e-03
   3.38596605e-02 -2.00576175e-02]
 ...
 [-1.23052721e-03  1.42102300e-03 -5.03203255e-04 ...  1.07137485e-04
  -5.64476797e-04 -6.15584048e-04]
 [-4.44964328e-04  7.40654914e-04 -2.10472333e-03 ... -1.48667554e-03
   1.26395296e-03  1.81954125e-04]
 [-9.00961039e-04 -1.38323107e-04  8.55881926e-04 ...  1.36328950e-03
   5.70583221e-05  1.07073701e-03]]

In [24]:
shifted_mask = np.isnan(X_train_counts.values)
shifted_mask

array([[ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       ...,
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [98]:
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import Imputer

nan_indices = shifted_mask.nonzero()
n_nans = len(nan_indices[0])
df_nans_spcoo_dok = df_nans_spcoo.todok()  # needed for single-item-based access!
for i in range(n_nans):
    if row == 10:
        break
    row, col = nan_indices[0][i], nan_indices[1][i]
    prediction = maxnorm.predict(row, col)
    df_nans_spcoo_dok[row, col] = prediction
    #print('row,col,pred: ', row, col, prediction)

df_nans_spcoo_imputed = df_nans_spcoo_dok.tocoo()

""" Compare: incomplete re-mapping!!! Just a demo """

print(df_nans_spcoo_imputed.todense()[:, :])

[[ 0.00933319  0.00438639  0.0006445  ... -0.00037692 -0.00030714
  -0.0004148 ]
 [-0.00043191 -0.00077543 -0.00142018 ...  0.00225391  0.00101829
   0.00216516]
 [-0.0128044  -0.00123569 -0.0043917  ... -0.00193585 -0.00302979
  -0.00518675]
 ...
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.          0.          0.         ...  0.          0.
   0.        ]]

In [137]:
np.sort(df_nans_spcoo_imputed.todense()[9])

matrix([[-0.22173739, -0.20142573, -0.18718202, ...,  0.18896342,
          0.21580071,  0.23316328]])

In [138]:
np.argsort(df_nans_spcoo_imputed.todense()[9])

matrix([[118530, 142412,  99193, ..., 104540, 104973,  16542]])

In [101]:
X_train_counts.head(10)

Venue_ID,3fd66200f964a52000e71ee3,3fd66200f964a52000ee1ee3,3fd66200f964a52000f11ee3,3fd66200f964a52001e81ee3,3fd66200f964a52002f01ee3,3fd66200f964a52003e71ee3,3fd66200f964a52003e81ee3,3fd66200f964a52004e61ee3,3fd66200f964a52005e71ee3,3fd66200f964a52005eb1ee3,...,523dd9e7498e092f9a033bb5,52458a1411d2b5993ac0425b,524842f711d2289df8ba9723,524a968f11d2921536d1e87d,524dd87611d2233c88389112,5255b0cb498e1ef25a04735c,5261c77611d2d6de373293f2,526f51e7498e26445f274a5e,528218eb498e0679e73b2490,529d18fb11d26ddfd0f8152d
User_ID,,,,,,,,,,,,,,,,,,,,,
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.005263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.014706,NaN,NaN,NaN,NaN,NaN,NaN
541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
colname = X_train_counts.columns[2175]
colname

'440da2cbf964a52091301fe3'

In [160]:
colname = X_train_counts.columns[2175]
X_test[(X_test.User_ID == 150255) & (X_test.Venue_ID == '4b35e986f964a5205a2f25e3')]

,User_ID,Venue_ID,UTC_Time,Timezone_Offset,Lat,Long,Category,Country_Code
624080,150255.0,4b35e986f964a5205a2f25e3,Fri Jun 07 11:24:43 +0000 2013,600.0,-37.868311,144.986798,Gay Bar,AU