In [1]:
import pandas as pd
import numpy as np

In [2]:
df_gender = pd.read_csv('dataset_UbiComp2016/dataset_UbiComp2016_UserProfile_NYC.txt', sep = '\t', header = None)
#df_friends = pd.read_csv('dataset_WWW2019/dataset_WWW_friendship_new.txt', sep = '\t', header = None)
df_checkin = pd.read_csv('dataset_WWW2019/raw_Checkins_anonymized.txt', sep = '\t', header = None)

In [7]:
df_checkin2 = df_checkin[df_checkin[0].isin(df_gender[0])]

In [8]:
df_checkin2.to_csv("gender-checkins-tokyo.csv",sep = '\t')

In [9]:
df_poi = pd.read_csv('dataset_WWW2019/raw_POIs.txt', sep = '\t', header = None)

In [10]:
df_checkin2 = df_checkin2.rename(columns={0:'User_ID' , 1: 'Venue_ID', 2:'UTC_Time', 3:'Timezone_Offset'})

In [11]:
df_poi = df_poi.rename(columns={0:'Venue_ID' , 1: 'Lat', 2:'Long', 3:'Category', 4:'Country_Code'})

In [12]:
df = df_checkin2.merge(df_poi, on='Venue_ID', how='left')

In [13]:
df.head()

,User_ID,Venue_ID,UTC_Time,Timezone_Offset,Lat,Long,Category,Country_Code
0,209805,4b2277b1f964a5203f4724e3,Tue Apr 03 18:00:15 +0000 2012,-300,41.886485,-87.623692,Conference Room,US
1,93016,4b1e7a92f964a5205c1a24e3,Tue Apr 03 18:01:07 +0000 2012,-300,41.894080,-87.799654,Museum,US
2,239096,4ad4bffcf964a52029ea20e3,Tue Apr 03 18:01:08 +0000 2012,-300,29.425095,-98.485222,Hotel,US
3,221343,4b219d3af964a520f83e24e3,Tue Apr 03 18:02:08 +0000 2012,-240,35.303885,-80.749191,Burrito Place,US
4,535,4af0b093f964a52043de21e3,Tue Apr 03 18:03:20 +0000 2012,-300,29.435305,-98.500543,Vegetarian / Vegan Restaurant,US

In [14]:
df.to_csv("gender-checkins-complete.csv",sep = '\t')